# Ignore all compiled files
#--------------------------
__pycache__
*.pyc
*.o
*.mod

# Ignore exec folder
#-------------------
exec/
sorc/enkf_chgres_recenter_nc.fd/exec

# Ignore fix directory symlinks
#------------------------------
fix/0readme
fix/fix_*
fix/gdas/
fix/wafs

# Ignore parm file symlinks
#--------------------------
parm/config/config.base
parm/gldas
parm/mon
parm/post
parm/wafs

# Ignore sorc and logs folders from externals
#--------------------------------------------
sorc/*log
sorc/logs
sorc/aeroconv.fd
#sorc/fv3gfs.fd        ## JKH
#sorc/gfs_post.fd      ## JKH
sorc/gfs_wafs.fd
sorc/gsi.fd
sorc/ufs_utils.fd
sorc/verif-global.fd

# Ignore sorc symlinks
#---------------------
sorc/build_fv3.sh
sorc/calc_analysis.fd
sorc/calc_increment_ens.fd
sorc/calc_increment_ens_ncio.fd
sorc/chgres_cube.fd
sorc/filter_topo.fd
sorc/fregrid.fd
sorc/getsfcensmeanp.fd
sorc/getsigensmeanp_smooth.fd
sorc/getsigensstatp.fd
sorc/gfs_ncep_post.fd
sorc/global_enkf.fd
sorc/global_gsi.fd
sorc/interp_inc.fd
sorc/make_hgrid.fd
sorc/make_solo_mosaic.fd
sorc/oznmon_horiz.fd
sorc/oznmon_time.fd
sorc/radmon_angle.fd
sorc/radmon_bcoef.fd
sorc/radmon_bcor.fd
sorc/radmon_time.fd
sorc/recentersigp.fd
sorc/shave.fd
sorc/wafs_awc_wafavn.fd
sorc/wafs_blending.fd
sorc/wafs_cnvgrib2.fd
sorc/wafs_gcip.fd
sorc/wafs_makewafs.fd
sorc/wafs_setmissing.fd

# Ignore scripts from externals
#------------------------------
# jobs symlinks
jobs/JGDAS_ENKF_CHGRES
jobs/JGDAS_ENKF_FCST
jobs/JGDAS_ENKF_POST
jobs/JGDAS_ENKF_RECENTER
jobs/JGDAS_ENKF_SURFACE
jobs/JGDAS_VERFOZN
jobs/JGDAS_VERFRAD
jobs/JGDAS_VMINMON
jobs/JGFS_VMINMON
jobs/JGFS_WAFS
jobs/JGFS_WAFS_BLENDING
jobs/JGFS_WAFS_GCIP
jobs/JGFS_WAFS_GRIB2
jobs/JGLOBAL_ANALCALC
jobs/JGLOBAL_ANALDIAG
jobs/JGLOBAL_ANALYSIS
jobs/JGLOBAL_ENKF_ANALDIAG
jobs/JGLOBAL_ENKF_INNOVATE_OBS
jobs/JGLOBAL_ENKF_SELECT_OBS
jobs/JGLOBAL_ENKF_UPDATE
jobs/JGLOBAL_NCEPPOST
jobs/JGLOBAL_POST_MANAGER

# scripts symlinks
scripts/calcanl_gfs.py
scripts/calcinc_gfs.py
scripts/chgres_cube.sh
scripts/emcsfc_ice_blend.sh
scripts/emcsfc_snow.sh
scripts/exemcsfc_global_sfc_prep.sh.ecf
scripts/exgdas_nceppost.sh.ecf
scripts/exgdas_vrfminmon.sh.ecf
scripts/exgdas_vrfyozn.sh.ecf
scripts/exgdas_vrfyrad.sh.ecf
scripts/exgfs_nceppost.sh.ecf
scripts/exgfs_vrfminmon.sh.ecf
scripts/exgfs_wafs_blending.sh.ecf
scripts/exgfs_wafs_gcip.sh.ecf
scripts/exgfs_wafs_grib.sh.ecf
scripts/exgfs_wafs_grib2.sh.ecf
scripts/exglobal_analcalc_fv3gfs.sh.ecf
scripts/exglobal_analdiag_fv3gfs.sh.ecf
scripts/exglobal_analysis_fv3gfs.sh.ecf
scripts/exglobal_enkf_chgres_fv3gfs.sh.ecf
scripts/exglobal_enkf_fcst_fv3gfs.sh.ecf
scripts/exglobal_enkf_innovate_obs_fv3gfs.sh.ecf
scripts/exglobal_enkf_post_fv3gfs.sh.ecf
scripts/exglobal_enkf_recenter_fv3gfs.sh.ecf
scripts/exglobal_enkf_surface_fv3gfs.sh.ecf
scripts/exglobal_enkf_update_fv3gfs.sh.ecf
scripts/exglobal_fcst_nemsfv3gfs.sh
scripts/exglobal_innovate_obs_fv3gfs.sh.ecf
scripts/exglobal_pmgr.sh.ecf
scripts/fix_precip.sh
scripts/fv3gfs_chgres.sh
scripts/fv3gfs_downstream_nems.sh
scripts/fv3gfs_driver_grid.sh
scripts/fv3gfs_dwn_nems.sh
scripts/fv3gfs_filter_topo.sh
scripts/fv3gfs_make_grid.sh
scripts/fv3gfs_make_orog.sh
scripts/getncdimlen
scripts/gfs_nceppost.sh
scripts/gfs_transfer.sh
scripts/global_chgres.sh
scripts/global_chgres_driver.sh
scripts/global_cycle.sh
scripts/global_cycle_driver.sh
scripts/global_tracker.sh
scripts/gsi_utils.py
scripts/link_crtm_fix.sh
scripts/minmon_xtrct_costs.pl
scripts/minmon_xtrct_gnorms.pl
scripts/minmon_xtrct_reduct.pl
scripts/mkwfsgbl.sh
scripts/ozn_xtrct.sh
scripts/radmon_ck_stdout.sh
scripts/radmon_err_rpt.sh
scripts/radmon_verf_angle.sh
scripts/radmon_verf_bcoef.sh
scripts/radmon_verf_bcor.sh
scripts/radmon_verf_time.sh
scripts/trim_rh.sh
scripts/wafs_blending.sh
scripts/wafs_intdsk.sh

# ush symlinks
ush/calcanl_gfs.py
ush/calcinc_gfs.py
ush/chgres_cube.sh
ush/getncdimlen
ush/gsi_utils.py
ush/mkwfsgbl.sh
ush/wafs_blending.sh
ush/wafs_intdsk.sh

# util symlinks
util/sub_slurm
util/sub_wcoss_c
util/sub_wcoss_d
